$mainBackground: rgba(200,200,220,1);
$mainShadow: 0.2rem 0.2rem 0.1rem rgba(0,0,0,0.3);
$brightBG: rgba(255,255,255,1);
$brightBG-Hover: rgba(220,220,220,1);

$textColor: rgba(0,0,0,1);
$borderColor: rgba(0,0,0,1);

$badBorder: rgba(255,0,0,0.5);
$badBackground: rgba(255,0,0,0.2);
$okBorder: rgba(0,0,255,0.5);
$goodBorder: rgba(0,255,0,0.5);
$goodBackground: rgba(0,255,0,0.2);

$disabledBackground: rgba(180,180,180,1);
$disabledColor: rgba(0,0,0,0.7);

/*
    Bootstrap 4 Background Colors
     light:     #f8f9fa
     secondary: #6c757d
     dark:      #343a40
*/

$lightBG: #ebebeb;
$darkBG: #303a3f;
$darkBG-selected: #404a4f;
$secondaryBG: $darkBG;
$secondary-text: #dadada;
$arrow-height: 1.5em;
$arrow-height-pad: 0.5em;

body {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    min-height: 1px;
    height: 100vh;
    font-family: sans-serif;
}

div {
    box-sizing: border-box;
}

hr.secbg {
    margin: 0;
    border: none;
    border-top: 2px solid $secondary-text;
    background-color: $secondaryBG;
}

.dbform {
    input,
    select {
        border-width: 1px;
        border-style: solid;
        &:required,
        &:invalid,
        &:optional:invalid,
        &:required:invalid {
            border-color: $badBorder;
            background-color: $badBackground;
        }
        &:optional,
        &:optional:valid{
            border-color: $okBorder;
            background-color: $goodBackground;
        }
        &:valid,
        &:required:valid {
            border-color: $okBorder;
            background-color: $goodBackground;
        }
    }

    tr {
        &.border,
        &.border tr,
        &.border th,
        &.border td {
            border-color: $borderColor;
            border-style: solid;
            border-width: 1px;
        }
        &.returned {
            td {
                color: $disabledColor;
                background-color: $disabledBackground;
            }
        }
    }
    td,
    th {
        padding: 0.225rem;
    }
    th {
        text-align: center;
    }
    button {
        font-size: 1.15rem;
        background: $brightBG;
        border-style: solid;
        border-width: 1px;
        border-color: $borderColor;
        border-radius: 0.25rem;
        &:hover{
            background: $brightBG-Hover
        }
    }
}

.drop {
    li {
        position: relative;
        ul {
            display: none;
            position: relative;
            top: 0;
            left: 20rem;
        }
        &:hover {
            ul {
                display: inline-block;
            }
        }
    }
}

#wrap {
    @extend .full-height;
}

.full-height {
    min-height: 1px;
    height: 100%;
}


.row {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

#main-left {
    flex: 0 0 16%;
    min-width: 0px;
    background-color: $darkBG;
    white-space: nowrap;
    .heading {
        display: block;
        box-sizing: border-box;
        background-color: $secondaryBG;
        color: $secondary-text;
        padding: 0;
        margin: 0;
        width: 100%;
        line-height: $arrow-height * 2;
        text-align: center;
        a {
            text-decoration: none;
            color: $secondary-text;
        }
    }
    ul {
        display: block;
        background-color: $secondaryBG;
        color: $secondary-text;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding-left: 1em;
            margin-right: $arrow-height;
            font-size: 1rem;
            line-height: $arrow-height * 2;
            text-align: left;
            a {
                text-decoration: none;
                color: $secondary-text;
            }
            &:before {
                display: inline-block;
                content: '';
                white-space: pre;
            }
        }
    }
    h3 {
        display: block;
        color: $secondary-text;
        padding-left: 1em;
    }
}


#main-right {
    flex: 1 0 84%;
    min-width: 0px;
    display: flex;
    justify-content: flex-start;
    background-color: $lightBG;
    padding-left: 3em;
    padding-top: 1em;
    a {
      color: rgba(0,0,0,1);  
    }
}

.list-arrow-in,
.list-arrow-out {
    background-color: $darkBG-selected;
}

.list-arrow-in:after {
    display: block;
    float: right;
    content: '';
    position: relative;
    z-index: 1;
    width: 0;
    height: 0;
    /*
        0.75em is 1/2 * Lineheight
        Lineheight is set to 1.5 on body which is 1.5 x 1em
        This value will hold so long as
            1. 1.5 is the value of line-height
            2. Line-height isn't changed on a parent between this and body
            3. Font size is not changed on any parent element
    */
    /* left: $arrow-height; */
    margin-left: -1 * $arrow-height;
    margin-top: $arrow-height-pad;
    border-top: $arrow-height - $arrow-height-pad solid transparent;
    border-bottom: $arrow-height - $arrow-height-pad solid transparent;
    border-right: $arrow-height solid $lightBG;
}

.list-arrow-out:after {
    display: block;
    float: right;
    content: '';
    position: relative;
    z-index: 1;
    width: 0;
    height: 0;

    left: $arrow-height;
    margin-left: -1 * $arrow-height;
    margin-top: $arrow-height-pad;
    border-top: $arrow-height - $arrow-height-pad solid transparent;
    border-bottom: $arrow-height - $arrow-height-pad solid transparent;
    border-left: $arrow-height solid $darkBG-selected;
}

